<html>
    <head>
        <title><%= title%> - Codenames</title>
    </head>
    <body>
        <p><%= desc%></p>
        <%- include('navbar') %>
    </body>
    <script src="/js/main.js"></script>
</html>