<!DOCTYPE html> 
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codenames</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="h-screen w-screen bg-primary flex items-center justify-center text-white">
        <h1 class="text-6xl">Landing</h1>
    </div>
</body>
</html>