<div class="nav-bar">
    <a href="/">Home</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    <a href="/games/find/1">Find Game</a>
    <a href="/games/1/lobby">Lobby</a>
    <a href="/games/1">Game</a>
    <a href="/how-to-play">How to Play</a>
    <a href="/about">About</a>
</div>