<html>
    <head>
        <title><%= title%> - Codenames</title>
    </head>
    <body>
        <p><%= desc%></p>
        <%- include('../navbar') %>

        <form action="/auth/login" method="POST">
            <div>
                <label for="email">Email</label>
                <input 
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Email"
                    required
                />
            </div>
            <div>
                <label for="password">Password</label>
                <input 
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Password"
                    required
                />
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </body>
    <script src="/js/main.js"></script>
</html>