<html>
    <head>
        <title><%= title%> - Codenames</title>
    </head>
    <body>
        <p><%= desc%></p>
        <form action="/auth/register" method="POST">
            <div>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email"><br>
            </div>
            <div>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
            </div>
            <div>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br>
            </div>
            <div>
                <button type="submit">Sign Up</button>
            </div>
        </form>
    </body>
    <script src="/js/main.js"></script>
</html>