<aside id="chat-section">
    <template id="chat-message-template">
        <li class="chat-message">
            <span class="sender"></span>
            <span class="content"></span>
        </li>
    </template>

    <ul id="messages"></ul>
    <form action="/chat/<%= roomId %>" method="POST">
        <input id="chat-message" autocomplete="off" /><button>Send</button>
    </form>
</aside>